.texto {
    min-height: 250px;
    max-height: 650px;
    display: grid;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: justify;
    padding: 20px;
    background-color: var(--color3);
    color: var(--white);
    border-radius: 15px;
    margin: 20px;
    margin-bottom: 180px;
}

.spanP {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.span {
    justify-self: end;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 10px;
}

.textSpan {
    text-align: start;
    font-size: 1.3rem;
}

.span a {
    text-decoration: none;
    color: white
}

.rose {
    color: var(--rose)
}

.yellow{
    color: var(--yellow)
}

.sky {
    color: var(--sky)
}

.blue {
    color: var(--blue)
}

.green {
    color: var(--green)
}

.green2 {
    color: var(--green2)
}

.black {
    color: var(--black)
}

.truffle {
    color: var(--truffle)
}
/* inicio media queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Reglas de estilo para pantallas de 300px a 575.98px */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Reglas de estilo para pantallas de 576px a 767.98px */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Reglas de estilo para pantallas de 768px a 991.98px */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Reglas de estilo para pantallas de 992px a 1199.98px */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Reglas de estilo para pantallas de 1200px en adelante */
}

/* fin queries */