@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
:root {
  --black: rgb(17, 17, 17);
  --white: white;
  --color1: rgb(95, 107, 216);
  --color2: rgba(95, 107, 216, 0.678);
  --color3: #1d2429;
  --textColor1: #b5b9c0;

    --ash-black: #222;
    --sky: #1097b9;
    --green: #22dddd;
    --blue: #007acc;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
    --rose: rgb(211, 81, 146);
    --green: #3c873a;
    --green2: #589636;
    --truffle: #7c4927;
    --background: var(--purple);
    --accent: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-snap-type: y mandatory;
  background-color: #000;
  color: #fff
}

/* inicio clases generales */

.link {
  text-decoration: none;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid var(--color2);
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

/* fin clases generales */

/* inicio scroll */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 55px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
  color: var(--color1);
}

.section {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* inicio media queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .section {
      padding: 5px;
  }

      .parallax .scroller {
          font-size: 35px;
      }
}
